<!DOCTYPE html>
<html>
<head>
<title>Quiz application</title>
<link rel=stylesheet type=text/css href='{{ url_for('static', filename='style_miniquiz.css')}}'>
</head>
<body>

<h1>Quiz</h1>

<form action="/submitquiz", method="post">
{% for question in questions_list%}
<h4>
    <h5>{{question.question}}</h5>
    <input type="radio" name="{{question.q_id}}" value="{{question.option1}}" required> {{question.option1}}
    <br>
    <input type="radio" name="{{question.q_id}}" value="{{question.option2}}" required> {{question.option2}}
    <br>
    <input type="radio" name="{{question.q_id}}" value="{{question.option3}}" required> {{question.option3}}
    <br>
</h4>
{% endfor %}

<br><br>
<input type="submit" name="submitform" value="Submit"> 
</form>
</body>
</html>